  .quizCreate-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.2); */
  }


  .quizCreate-box {
    position: relative;
    width: 550px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    background-image: repeating-linear-gradient(26deg, rgb(255,255,255) 0px, rgb(255,255,255) 19px,transparent 19px, transparent 21px),repeating-linear-gradient(70deg, rgb(255,255,255) 0px, rgb(255,255,255) 19px,transparent 19px, transparent 21px),repeating-linear-gradient(10deg, rgb(255,255,255) 0px, rgb(255,255,255) 19px,transparent 19px, transparent 21px),linear-gradient(90deg, rgb(11, 212, 133),rgb(46, 137, 226));
  }

  .quizCreate-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 12px;
    width: fit-content;
    height: 70px;
    border-radius: 0 0 20px 20px;
  }

  .quizCreate-header span {
    font-size: 25px;
    color: var(--black-color);
  }

  .quizCreate-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
  }

  .quizCreate-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
    /* Removed space before --primary-color */
  }

  #quizForm .input_box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }



  #quizForm .input-field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    outline: none;
  }

  #quizForm .input-field:focus~.label,
  #quizForm .input-field:not(:valid):not(:placeholder-shown)+.label,
  #quizForm .input-field:valid:not(:placeholder-shown)+.label {
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
  }

  #quizForm .label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: 0.2s;
  }

  

  
.Uploadlabel{
  border: 2px dashed var(--primary-color);
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
}

.Uploadlabel p{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}







.Uploadlabel .uploadFileIcon{
  color: #0274d8;
  font-size: 30px;
}
  .RealQuiz {
    background-color: white;
    height: 100vh;
    display: flex;
    
  
  }

  .RealQuiz  .header {
    background-color: #0274d8;
  
    position: relative;
    align-items: center;
    padding: 10px;
    width: 250px;
  }


  .RealQuiz  .header h2 {
    flex: 1;
  }


  .RealQuiz  .header p {
    margin-right: 5px;
  }

 .RealQuiz  .list{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

 .RealQuiz  .list button{
  margin-bottom: 7px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.QAB{
  background-color: #fff;
}

  .RealQuiz  .QA{
  margin: 20px 0 0 30px;
 }

   .RealQuiz  .Question {
    font-size: 20px;
    font-weight: 500;
  }

   .RealQuiz .answere {
    margin-top: 20px;
    width: 100vh;
  }

   .RealQuiz .answere div {
    width: 30%;
    border: 1px solid #83b9e9;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eff7fe;
  }

   .RealQuiz .answere div label {
    margin-left: 5px;
  }


  .previous, .next,.submit{
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin: 10px;
    width: 80px;
    border: none;
    font-weight: 500;
  }

  .previous{
    background-color: #96d99d;
  }
  .next{ 
    background-color: #52b757;
    right: 0;
  }
.submit{
  background-color: #52b757;
  right: 0;
}
  .time{
    position: absolute;
    background-color: #0274d8;
    right: 0.5%;
    top: 3%;
    padding: 10px;
  }

  .red{
    background-color: red;
  }

  .disable {
    /* Add your disabled button styles here */
    background-color: #dddddd;
    color: #888888;
    cursor: not-allowed;
  }